<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhereNext?</title>
    <link href="../static/css/matches.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="../static/images/logo.svg" alt="WhereNext logo" class="headerlogo">
            <a href="{{ url_for('home') }}" class="title">WhereNext?</a>
        </div>
        <a href="{{ url_for('login') }}" class="login">Log In</a>
    </header>

    <div class="navigation">
      <h1> Your Top Three Matches</h1>
        <h2>Explore how you matched with other cities</h2>
        <a href="{{ url_for('map') }}" class="map" > Continue</a>
    </div>
    <div class="cards">
      {% for match in matches %}
      <div class="card purple">
          <h2>{{ match.score }}%</h2>
          <img src="{{ match.image }}" alt="{{ match.City_State }}">
          <h3>{{ match.City_State }}</h3>
          <p>You’ll love...</p>
          <ul>
              {% for bullet in match.bullets %}
              <li>{{ bullet }}</li>
              {% endfor %}
          </ul>
      </div>
      <div class="card blue">
        <h2>{{ match.score }}%</h2>
        <img src="{{ match.image }}" alt="{{ match.City_State }}">
        <h3>{{ match.City_State }}</h3>
        <p>You’ll love...</p>
        <ul>
            {% for bullet in match.bullets %}
            <li>{{ bullet }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="card orange">
      <h2>{{ match.score }}%</h2>
      <img src="{{ match.image }}" alt="{{ match.City_State }}">
      <h3>{{ match.City_State }}</h3>
      <p>You’ll love...</p>
      <ul>
          {% for bullet in match.bullets %}
          <li>{{ bullet }}</li>
          {% endfor %}
      </ul>
    </div>
      {% endfor %}
      


      </div>

      <script>
        // Data for each city
        const data = {
          nyc: ["Diverse dining options", "Great nightlife", "Access to public transportation"],
          chicago: ["Big city living", "Access to public parks", "Seasonal weather", "Lower cost of living than other big cities"],
          seattle: ["Beautiful nature", "Great restaurants", "Political alignment"],
        };
      
        // Function to populate a list
        function populateList(id, items) {
          const ul = document.getElementById(id);
          items.forEach(item => {
            const li = document.createElement("li");
            li.textContent = item;
            ul.appendChild(li);
          });
        }
      
        // Populate the lists
        populateList("nyc-points", data.nyc);
        populateList("chicago-points", data.chicago);
        populateList("seattle-points", data.seattle);
      </script>
</body>
</html>