<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhereNext?</title>
    <link href="../static/css/matches.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="../static/images/logo.svg" alt="WhereNext logo" class="headerlogo">
            <a href="{{ url_for('home') }}" class="title">WhereNext?</a>
        </div>
        <a href="{{ url_for('login') }}" class="login">Log In</a>
    </header>

    <div class="navigation">
      <h1> Your Top Three Matches</h1>
        <h2>Explore how you matched with other cities</h2>
        <a href="{{ url_for('map') }}" class="map" > Continue</a>
    </div>

    <div class="cards">
      {% for match in matches %}
      <div class="card {% if loop.index == 1 %}purple{% elif loop.index == 2 %}blue{% elif loop.index == 3 %}orange{% endif %}">
          <h2>{{ match.score }}%</h2>
          <img src="{{ match.image }}" alt="{{ match.City_State }}">
          <h3>{{ match.City_State }}</h3>
          <p>You’ll love...</p>
          <ul>
              {% for bullet in match.bullets %}
              <li>{{ bullet }}</li>
              {% endfor %}
          </ul>
      </div>
      {% endfor %}
  </div>

</body>
</html>