html{   
    background-color: ffffff;
    color: #5A6174;
    font-family: "inter-variable", sans-serif;
font-variation-settings: "slnt" 0, "wght" 400;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}